.PhotoSlider {
    overflow: hidden
}

.PhotoSlider .scrollable {
    height: 100%
}

.PhotoSlider .slider-item {
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.PhotoSlider.slide-preview .slider-item {
    border-right: 1px solid #fff;
    box-sizing: border-box
}

.PhotoSlider .transition {
    transition: transform .2s cubic-bezier(.58, .92, .57, .92)
}

.FavoriteExtension {
    display: inline-block;
    margin-left: 8px
}

.FavoriteExtension .favorite-icon {
    display: block
}

.FavoriteExtension.fav-on .favorite-icon {
    fill: #e62e2e
}

.FavoriteExtension.fav-off .favorite-icon {
    fill: rgba(0, 0, 0, .5)
}

.FavoriteExtension.fav-off .favorite-icon:hover {
    fill: rgba(0, 0, 0, .7)
}

.favorite-actionable-outline {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #fff
}

.HomeSash {
    display: inline-block;
    vertical-align: text-top;
    border-radius: 1px 1px 1px 1px;
    padding: 3px 5px;
    margin-right: 7px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    user-select: none;
    line-height: 1em
}

.homeIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 3px;
    line-height: 16px;
    position: relative
}

.homeIcon .SvgIcon {
    width: 12px;
    height: 12px;
    top: 1px;
    left: 2px;
    position: relative;
    fill: #fff
}

.homeIcon .badge.SvgIcon {
    position: absolute;
    top: -4px;
    left: 11px;
    height: 10px;
    width: 10px;
    z-index: 2
}

.addressDisplay span {
    display: block
}

.addressDisplay .cityStateZip {
    font-size: 10px;
    padding-top: 3px
}

.HomeStats {
    display: flex;
    text-align: center;
    text-transform: capitalize
}

.HomeStats>div {
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid hsla(0, 0%, 100%, .5)
}

.HomeStats>div:last-child {
    border-right: none;
    padding-right: 0
}

.HomeStats>div:first-child {
    padding-left: 0
}

.HomeStats .value {
    font-size: 15px;
    height: 16px;
    padding-bottom: .25em;
    font-weight: 700
}

.HomeStats .SvgIcon {
    fill: currentColor;
    height: 1em;
    width: 1em
}

.homecard {
    position: relative;
    display: inline-block;
    width: 100%
}

.homecard,
.homecard .link-override,
.homecard .link-override:hover {
    color: #fff
}

.homecard .cover-all .photoContainer {
    background-color: #333
}

.homecard .cover-all .photoContainer .vow-card {
    width: 100%;
    height: 100%
}

.homecard .cover-all .photoContainer .vow-card .vow-content {
    position: relative;
    top: 30%;
    text-align: center;
    color: #727272
}

.homecard .cover-all .photoContainer .vow-card .vow-content .SvgIcon {
    height: 24px;
    width: 24px;
    fill: #ccc
}

.homecard .cover-all .photoContainer .vow-card .vow-content .vow-msg {
    width: 210px;
    margin: 0 auto;
    font-size: 12px
}

.homecard .disclaimer {
    padding-top: 3px;
    font-size: 10px
}

.homecard .topleft {
    position: absolute;
    margin: 5px 0 5px 5px;
    top: 0
}

.homecard .topright {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 5px 0 0;
    max-height: 18px
}

.homecard .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    pointer-events: none;
    align-items: flex-end;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .8));
    padding-top: 20px
}

.homecard .bottom .left {
    margin: 0 10px 5px;
    text-align: left;
    min-width: 0;
    flex: 1 1 50%
}

.homecard .bottom .left .priceNote {
    display: inherit
}

.homecard .bottom .left .homeIcon {
    margin-right: 6px;
    overflow: initial
}

.homecard .bottom .left .price-label {
    font-size: .5em;
    padding-left: 5px
}

.homecard .bottom .left .cityStateZip {
    color: #ccc
}

.homecard .bottom .left div,
.homecard .bottom .left span {
    overflow: hidden;
    text-overflow: ellipsis
}

.homecard .bottom .right {
    margin: 0 10px 5px 0;
    text-align: right;
    min-width: 0;
    flex: 1 2 50%
}

.homecard .bottom .right .HomeStats {
    justify-content: flex-end
}

.homecard .bottom .right .HomeStats:last-child {
    margin-bottom: 18px
}

.homecard .bottom .right .disclaimer {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ccc
}

.homecard .homeIcon.redfin {
    background-color: #c82021
}

.homecard .homeIcon.for-sale {
    background-color: #2e7e36
}

.homecard .homeIcon.sold {
    background-color: #5d8acb
}

.homecard .homeIcon.fsbo {
    background-color: #a22769
}

.homecard .homeIcon.foreclosed {
    background-color: #4c3967
}

.homecard .homeIcon .xout-alt {
    fill: #585858
}

.homecard .homeIcon .favorite-alt {
    fill: #e62e2e
}

.homecard .homeIcon .rating {
    fill: #ffb92e
}

.homecard .home-card-image-placeholder {
    background-color: #333;
    height: 100%
}

.homecard .home-card-image-placeholder .content {
    width: 75%;
    margin: 0 auto;
    color: #999;
    text-align: center;
    padding-top: 58px;
    line-height: 1.5
}

.homecard .home-card-image-placeholder .content .icon {
    fill: #999;
    width: 36px;
    height: 36px;
    margin-bottom: 10px
}

.homecard .home-card-image-placeholder .content .header {
    font-size: 1.375rem;
    font-weight: 400
}

@media screen and (max-width:599px) {
    .homecard .home-card-image-placeholder .content {
        padding-top: 30px
    }
}

.homecard .left-nav,
.homecard .right-nav {
    position: absolute;
    width: 20px;
    top: 42%;
    visibility: hidden
}

.homecard .left-nav.shouldShow,
.homecard .right-nav.shouldShow {
    visibility: inherit
}

.homecard .left-nav svg,
.homecard .right-nav svg {
    height: 28px;
    width: 28px
}

.homecard .left-nav {
    left: 14px
}

.homecard .left-nav .slide-previous-with-shadow {
    float: right
}

.homecard .right-nav {
    right: 14px
}

.homecard:hover .left-nav,
.homecard:hover .right-nav {
    visibility: inherit
}

.homecard .bottom {
    -webkit-transition: opacity .3s linear 0s;
    transition: opacity .3s linear 0s
}

.homecard .cover-all {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.homecard .cover-all .photoContainer {
    height: 100%;
    width: 100%
}

.homecard .media-index {
    position: absolute;
    bottom: 0;
    left: 45%;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    padding: 3px 5px;
    margin-bottom: 10px;
    z-index: 1;
    -webkit-transition: opacity .3s linear 0s;
    transition: opacity .3s linear 0s
}

@media (min-width:1200px) {
    .PhotosView .topright {
        margin: 4px 8px 0 0
    }
    .PhotosView .favorite-icon {
        height: 28px !important;
        width: 28px !important
    }
}

.customer-facing .SharedSearchIntroFlyout.Flyout.v83.standard>.flyout {
    padding: 1.5rem
}

.customer-facing .SharedSearchIntroFlyout.Flyout.v83.standard>.flyout>.header>.title {
    font-size: 1.25rem;
    font-weight: 500
}

.SharedSearchIntroFlyout .SharedSearchIntro .verticalContent .introCard {
    width: 300px;
    height: 300px
}

.viewed .HomeIconBlock .redfin {
    background-color: #e62e2e
}

.viewed .HomeIconBlock .for-sale {
    background-color: #629e68
}

.viewed .HomeIconBlock .sold {
    background-color: #85a7d8
}

.viewed .HomeIconBlock .owner {
    background-color: #b95d8e
}

.viewed .HomeIconBlock .foreclosed {
    background-color: #786a8d
}

.ReactDataTable .small.HomeIconBlock .bottom .property .badge.SvgIcon {
    stroke: #fff
}

.TableView {
    margin-top: 214px
}

@media (max-width:899px) {
    .TableView {
        margin-top: 223px
    }
}

.TableView.time-on-redfin .ReactDataTable .col_address {
    width: 96px
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView.time-on-redfin .ReactDataTable .col_address {
        width: 118px
    }
}

@media (max-width:899px) {
    .TableView.time-on-redfin .ReactDataTable .col_address {
        width: 129px
    }
}

.TableView.time-on-redfin .ReactDataTable .col_days {
    width: 75px
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView.time-on-redfin .ReactDataTable .col_days {
        width: 80px
    }
}

@media (max-width:899px) {
    .TableView.time-on-redfin .ReactDataTable .col_days {
        width: 95px
    }
}

.TableView.time-on-redfin .ReactDataTable .tableList .tableRow .address {
    width: 96px
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView.time-on-redfin .ReactDataTable .tableList .tableRow .address {
        width: 118px
    }
}

@media (max-width:899px) {
    .TableView.time-on-redfin .ReactDataTable .tableList .tableRow .address {
        width: 129px
    }
}

.TableView #listing-preview {
    width: 637px;
    position: fixed;
    background-color: #f5f5f5;
    z-index: 14;
    -webkit-transform: translateZ(0);
    border-bottom: 1px solid #e2e2e2
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView #listing-preview {
        width: 457px
    }
}

@media (max-width:899px) {
    .TableView #listing-preview {
        width: 375px
    }
}

@media (max-height:695px) {
    .TableView #listing-preview {
        display: none
    }
}

.TableView .ReactDataTable {
    padding-top: 256px;
    font-weight: 400;
    font-size: 12px;
    color: #333
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView .ReactDataTable {
        padding-top: 260px
    }
}

@media (max-width:899px) {
    .TableView .ReactDataTable {
        padding-top: 220px
    }
}

@media (max-height:695px) {
    .TableView .ReactDataTable {
        padding-top: 0
    }
}

.TableView .ReactDataTable .tableTitle {
    position: fixed;
    cursor: pointer;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .4);
    height: 40px;
    background-color: #fff
}

.TableView .ReactDataTable .tableTitle th {
    vertical-align: middle
}

.TableView .ReactDataTable .tableTitle th .selected {
    font-weight: 600
}

.TableView .ReactDataTable .tableTitle th.col_address,
.TableView .ReactDataTable .tableTitle th.col_location {
    text-align: left
}

.TableView .ReactDataTable .tableTitle th.col_favorite,
.TableView .ReactDataTable .tableTitle th.col_icon,
.TableView .ReactDataTable .tableTitle th.disabled {
    cursor: default
}

.TableView .ReactDataTable .tableTitle th.default {
    color: #b2b2b2
}

.TableView .ReactDataTable .tableTitle th.column button {
    display: inline-block;
    padding: 13.5px 0
}

.TableView .ReactDataTable .tableTitle th.column button.selected .sortArrow.up {
    transform: rotate(180deg)
}

.TableView .ReactDataTable .tableTitle th:not(.disabled):not(.col_icon):not(.col_favorite).column button:hover {
    font-weight: 700
}

.TableView .ReactDataTable .tableList {
    cursor: pointer
}

.TableView .ReactDataTable .tableList tr:first-child {
    height: 80px !important
}

.TableView .ReactDataTable .tableList tr:first-child td {
    padding-top: 40px
}

.TableView .ReactDataTable .tableList .tableRow {
    height: 40px;
    border-bottom: 1px solid #f5f5f5
}

.TableView .ReactDataTable .tableList .tableRow.selected {
    background-color: #f1f8fb
}

.TableView .ReactDataTable .tableList .tableRow:not(.selected):hover {
    background-color: #f5f5f5
}

.TableView .ReactDataTable .tableList .tableRow .address {
    width: 104px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: #000
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView .ReactDataTable .tableList .tableRow .address {
        width: 143px
    }
}

@media (max-width:899px) {
    .TableView .ReactDataTable .tableList .tableRow .address {
        width: 154px
    }
}

.TableView .ReactDataTable .tableList .tableRow .address a {
    text-decoration: none
}

.TableView .ReactDataTable .tableList .tableRow .address .address_subrow {
    font-size: 10px;
    color: #727272;
    width: 550px;
    font-weight: 200;
    padding-top: 2px;
    margin-right: 2px
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView .ReactDataTable .tableList .tableRow .address .address_subrow {
        width: 350px
    }
}

@media (max-width:899px) {
    .TableView .ReactDataTable .tableList .tableRow .address .address_subrow {
        width: 250px
    }
}

.TableView .ReactDataTable .tableList .tableRow .address .address_subrow .pending_label {
    color: #c82021;
    font-weight: 700
}

.TableView .ReactDataTable .tableList .tableRow .location {
    width: 82px
}

.TableView .ReactDataTable .tableList .tableRow .favoriteButton {
    height: 24px;
    width: 24px;
    fill: #585858
}

.TableView .ReactDataTable .tableList .tableRow .favoriteButton.selected {
    fill: #e62e2e
}

.TableView .ReactDataTable.subrow .tableList tr:first-child td {
    padding-top: 52px
}

.TableView .ReactDataTable.subrow .tableList .tableRow td {
    vertical-align: top;
    padding-top: 12px;
    -webkit-transform: translate(0)
}

.TableView .ReactDataTable.subrow .tableList .tableRow img.mls_logo_in_maplist {
    max-width: 50px;
    max-height: 12px
}

.TableView .ReactDataTable.subrow .tableList .tableRow .secure-info-lock .flyout {
    margin-top: -7px
}

.TableView .ReactDataTable .tableFooter .col_icon,
.TableView .ReactDataTable .tableTitle .col_icon {
    width: 15px
}

.TableView .ReactDataTable .tableFooter .col_favorite,
.TableView .ReactDataTable .tableTitle .col_favorite {
    width: 22px
}

.TableView .ReactDataTable .col_favorite>*,
.TableView .ReactDataTable .col_icon>* {
    position: relative
}

.TableView .ReactDataTable .col_favorite .FavoriteButtonWrapper:hover .SvgIcon,
.TableView .ReactDataTable .col_icon .FavoriteButtonWrapper:hover .SvgIcon {
    fill: #000
}

.TableView .ReactDataTable .col_icon {
    padding-left: 10px !important;
    padding-right: 5px !important
}

.TableView .ReactDataTable .col_address {
    width: 121px
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView .ReactDataTable .col_address {
        width: 143px
    }
}

@media (max-width:899px) {
    .TableView .ReactDataTable .col_address {
        width: 154px
    }
}

.TableView .ReactDataTable .col_location {
    width: 82px
}

@media (max-width:1199px) {
    .TableView .ReactDataTable .col_location {
        display: none
    }
}

.TableView .ReactDataTable .col_price {
    width: 66px
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView .ReactDataTable .col_price {
        width: 71px
    }
}

@media (max-width:899px) {
    .TableView .ReactDataTable .col_price {
        width: 86px
    }
}

.TableView .ReactDataTable .col_beds {
    width: 44px
}

@media (max-width:1199px) {
    .TableView .ReactDataTable .col_beds {
        width: 49px
    }
}

@media (max-width:899px) {
    .TableView .ReactDataTable .col_beds {
        display: none
    }
}

.TableView .ReactDataTable .col_baths {
    width: 49px
}

@media (max-width:1199px) {
    .TableView .ReactDataTable .col_baths {
        width: 54px
    }
}

@media (max-width:899px) {
    .TableView .ReactDataTable .col_baths {
        display: none
    }
}

.TableView .ReactDataTable .col_sqft {
    width: 49px
}

@media (max-width:1199px) {
    .TableView .ReactDataTable .col_sqft {
        display: none
    }
}

.TableView .ReactDataTable .col_ppsqft {
    width: 61px
}

@media (max-width:1199px) {
    .TableView .ReactDataTable .col_ppsqft {
        display: none
    }
}

.TableView .ReactDataTable .col_days {
    width: 50px
}

@media (max-width:1199px) {
    .TableView .ReactDataTable .col_days {
        padding-right: 10px !important
    }
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView .ReactDataTable .col_days {
        width: 55px
    }
}

@media (max-width:899px) {
    .TableView .ReactDataTable .col_days {
        width: 70px
    }
}

.TableView .ReactDataTable .col_favorite {
    padding-right: 10px !important;
    padding-left: 5px !important
}

@media (max-width:1199px) {
    .TableView .ReactDataTable .col_favorite {
        display: none
    }
}

.TableView .ReactDataTable .column {
    padding-left: 3px;
    padding-right: 3px
}

@media (max-width:1199px) {
    .TableView .ReactDataTable .column {
        padding-left: 5px;
        padding-right: 5px
    }
}

.TableView .tableFooter {
    display: table;
    height: 40px;
    text-align: right;
    border-top: 1px solid #e2e2e2
}

.TableView .tableFooter td {
    vertical-align: middle
}

.TableView .tableFooter .col_address {
    position: relative
}

.TableView .tableFooter .col_address .medianLabel {
    position: absolute;
    line-height: 40px;
    top: 0;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

@media (min-width:900px) and (max-width:1199px) {
    .TableView .tableFooter .col_address .medianLabel {
        width: 120px
    }
}